body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.carousel{
    /* margin-top:20px;
    margin-bottom:20px; */
    padding: 20px;
}
.discover{
    margin-top:50px;
    margin-bottom: 50px;
}
.btn{
    margin: 30px;
}
.work-text h1{
    font-size: 50px;
}
.work-back{
    background-color:aliceblue;
   
    margin-top: 50px;
   
}
.ready-sec{
    margin: 30px;
    padding: 100px;
    background-color: #02B290;
    /* height: 300px; */
    border-radius: 5px;
}
.text-center{
    margin-top: 50px;
    margin-bottom: 50px;
}
.card-section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 50px;
}












@media screen and (max-width: 668px) { 
    .card-section{
        display:grid;
        grid-template-columns: repeat(1,1fr);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-items: center;
        gap: 10px;
        margin:20px;
    }
 }